{{> head }}

{{!-- <invoice-editor params="invoice: data.invoice"></invoice-editor> --}}
<main class="invoice">	
	<!-- ko component: { name: data.template, params: { invoice: data.invoice } }  --><!-- /ko-->
</main>


{{> foot }}